@model IEnumerable<Company>;

@{
    ViewData["Title"] = "Company Index";
}

<div class ="container p-3">
    <div class ="row pt-5">
        <div class = "col-6">
            <h2 class = "text-primary">Company List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-action="Create" class ="btn btn-success">
                <i class="bi bi-plus-circle"></i> &nbsp; Create New Company</a>
        </div>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StreetAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StreetAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                <div class="row justify-content-evenly">
                    <a asp-action="Edit" asp-route-id="@item.Id" class ="btn btn-primary col-3">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class ="btn btn-primary col-4">Details</a> 
                    <a asp-action="Delete" asp-route-id="@item.Id" class ="btn btn-primary col-3">Delete</a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>